@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .text-shadow {
          text-shadow: 2px 2px 4px black;
        }
        .text-shadow-md {
          text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg {
          text-shadow: 15px 15px 30px black;
        }
        .text-shadow-none {
          text-shadow: none;
        }
    } 
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: rgb(25, 25, 25);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
    border: 4px solid rgb(25, 25, 25);
    border-radius: 15px;
}

.listItem:hover {
    color: #64f4ab
}

.greenBg {
    background-color: #64f4ab;
}

.greenText {
    color: #64f4ab
}

.vid {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.overlay {
    background-color: black;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.darkBg {
    background-color: rgba(37,38,42,255)
}

.darkerBg {
    background-color: rgba(27,28,32,255)
}

.infoCard {
    opacity: 0;
    transform: translateY(10px);
    transition: 500ms ease-in;
}

.hide {
    opacity: 0;
    transform: translateY(10px);
}

.show {
    opacity: 1;
    transform: translateY(-10px);
}