@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .text-shadow {
          text-shadow: 2px 2px 4px black;
        }
        .text-shadow-md {
          text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg {
          text-shadow: 15px 15px 30px black;
        }
        .text-shadow-none {
          text-shadow: none;
        }
    } 
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgba(27,28,32,255);
    font-family: 'Roboto Mono', monospace;
}

::-webkit-scrollbar {
    background-color: rgb(25, 25, 25);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
    border: 4px solid rgb(25, 25, 25);
    border-radius: 15px;
}

.listItem:hover {
    color: #64f4ab
}

.popFont {
    font-family: 'Poppins', sans-serif !important;
}

.wrapper {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth;
}

.feature::before {
    content: "\2022";
    color: #64f4ab;
    font-weight: bold;
    display: inline-block; 
    width: 1em;

  }

.parallax {
    transform-style: preserve-3d;
    z-index: -1;
    position: relative;
}

.test {
    grid-template-columns: repeat(auto-fit, minmax(min-content, auto));
}

.background {
    z-index: 0;
    transform: translateZ(-20px) translateY(-930px) scale(3.1);
}

.greenBg {
    background-color: #64f4ab;
}

.greenText {
    color: #64f4ab
}

.vid {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.overlay {
    background-color: black;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.darkBg {
    background-color: rgba(37,38,42,255)
}

.darkerBg {
    background-color: rgba(27,28,32,255)
}

.moreInfo {
    opacity: 0;
    transform: translateY(10px);
}

.hide {
    opacity: 0;
    transform: translateY(10px);
}

.show {
    opacity: 1;
    transform: translateY(-10px);
}

.hideProjectText {
    opacity: 0;
}

.showProjectText {
    opacity: 1;
    transition-duration: 300ms;
}

.hideProjectCardLeft {
    opacity: 0;
    transform: translateX(-20px);
}

.showProjectCardLeft {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 500ms;
}

.hideProjectInfoLeft {
    opacity: 0;
    transform: translateX(-20px);
}

.showProjectInfoLeft {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 500ms;
}

.hideProjectCardRight {
    opacity: 0;
    transform: translateX(20px);
}

.showProjectCardRight {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 500ms;
}

.hideProjectInfoRight {
    opacity: 0;
    transform: translateX(20px);
}

.showProjectInfoRight {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 500ms;
}

.divider {
    height: inherit;
    border: 1px solid rgba(47,48,52,100);
    border-radius: 5px;
}

.hideParagraph {
    opacity: 0;
    transform: translateY(10px);
}

.showParagraph {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 500ms;
}

.hideForm {
    opacity: 0;
    transform: translateX(20px);
}

.showForm {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 500ms;
}