@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .text-shadow {
          text-shadow: 2px 2px 4px black;
        }
        .text-shadow-md {
          text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg {
          text-shadow: 15px 15px 30px black;
        }
        .text-shadow-none {
          text-shadow: none;
        }
    } 
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: rgb(25, 25, 25);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
    border: 4px solid rgb(25, 25, 25);
    border-radius: 15px;
}

.background {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.darkBg {
    background-color: rgba(45,46,50,255);
}

.darkerBg {
    background-color: rgba(37,38,42,255)
}

.darkerGreen {
    background-color: #95EF86;
}

.lightBlue {
    background-color: #86EFE1;
}

.lightGreen {
    background-color: #86EFAC;
}

.infoCard {
    opacity: 0;
    transform: translateY(10px);
    transition: 800ms ease-in;
}

.show {
    opacity: 1;
    transform: translateY(-10px);
}